<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="com.figtech.quotely">

    <application

        android:label="Quotely"

        android:icon="@mipmap/ic_launcher">
        
     <meta-data                              android:name="flutterEmbedding"             
                android:value="2"/>

        <activity

            android:exported="true"

            android:launchMode="singleTop">

            

            <intent-filter>

                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />

            </intent-filter>

        </activity>

    </application>

</manifest>